@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .main-content {
    margin-left: 15%; /* Default margin for mobile and smaller devices */
  }

  @media (min-width: 768px) {
    .main-content {
      margin-left: calc(
        18%
      ); /* Adjust based on the width of the aside, which is md:w-1/7 */
    }
  }

  @media (min-width: 1024px) {
    .main-content {
      margin-left: calc(
        22%
      ); /* Adjust based on the width of the aside for larger screens */
    }
  }

  @media (min-width: 1280px) {
    .main-content {
      margin-left: calc(
        22%
      ); /* Adjust based on the width of the aside for extra-large screens */
    }
  }
}
